        <link rel="shortcut icon" type="image/x-icon" href="{{ static('VK/img/logo/vk.jpg') }}">
<footer style="background: gray">


            <button type="button" class="btn btn-outline-success">Запустить</button>

            <button type="button" class="btn btn-outline-success">Кнопка 2</button>


            <button type="button" class="btn btn-outline-success">Кнопка 3</button>

            <button type="button" class="btn btn-outline-success">Кнопка 4</button>

            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>
            <button type="button" class="btn btn-outline-success">Кнопка 4</button>


</footer>
